.bazi-small-pillar {
  background-color: antiquewhite; /* Set your desired background color */
  border-radius: 20px; /* Adjust the value to control the roundness of corners */
}
.bazi-title {
  font-size: x-small;
}
.bazi-short-shishen {
  font-size: x-small;
  font-weight: 400;
}
.pillar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}
.timePillar {
  border-right: 0.02px solid rgba(0, 0, 0, 0.137);
}
.ganzhiPillar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.selectedStyle {
  background-color: #f0f0f0;
  border-radius: 20px;
}
.smallPillar {
  margin-left: 5px;
}
