.nav-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  max-width: 600px;
}
li a:first-child {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #3498db;
  text-align: left;
}

li a:first-child:hover {
  background-color: rgba(47, 130, 197, 0.98);
}

.nav-list p {
  text-align: left;
  padding-left: px;
  margin: 10px;
}
.nav-list li {
  display: flex;
  flex-direction: column;
}
