#dateForm input {
  width: 90px;
}

.tjdForm input {
  width: 180px;
}

.tjd {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tjd-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
